@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

$fontMain:'Nunito', sans-serif;
$fontSecundary:'Nunito', cursive;

//variables para textos
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1em;

$d-flex:flex;