footer{
background-color: map-get($map:$paleta,$key:'uno');			
				div{ 
				@include flex(column, center, center);
					h3{
						@include texto($textMd, $fontSecundary, white);
						text-align: center;
						}
					div{
						display: flex;
					flex-direction: row;
					text-decoration: none;
						}
					img{
					width: 70px;
						}
				}
	  }